<div class="container-fluid">
    <div class="row">
        <footer class="bg-primary text-center pt-2">
        <p class="align-middle my-auto">Isidora Goyenechea 2939, piso 14, Las Condes, Santiago, Chile
Imperial 655, 4A, Puerto Varas, Chile</p>    
<footer>
    </div>    
</div>

                      
                      